@model IEnumerable<MyProject.Models.Event>
@{
    ViewBag.Title = "Index";
}

<h2>List of current Events</h2>

<p>
    @Html.ActionLink("New Event", "New", "Event", null, new { @class = "btn btn-info" })
</p>


<table id="events" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Event Type</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            
            var table = $("#events").DataTable({
                ajax: {
                    url: "/api/events",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, event) {
                            return "<a href='/Event/Details/" + event.id + "'>" + event.name + "</a>";
                        }
                    },
                    {
                        data: "eventType.name"
                    }
                ]
            });
            
        });
    </script>
}
