@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to Wallbase!</h2>
<p>
    <a style="font-size:large">A web application which makes it easy to create and plan events with your allies. </a>
</p>
<img src="~/Images/mesmer.png" alt="Guild Wars 2 Profession" />